<%- include('./partials/header') %>

<form action="/edit/<%= vehiculo.idvehiculo %>" id="formulario-registro" autocomplete="off" method="post">
  <div class="card">
  
  <div class="card-header"><Strong>ACTUALIZACIÓN</Strong></div>
  <div class="card-body">
    <div class="row g-2">
        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <select name="marcas" id="marcas" class="form-select" required>
              <option value="" selected disabled>Seleccione</option>
              <% marcas.forEach(element => { %>
               <option value= "<%= element.idmarca %> " <%= element.idmarca==vehiculo.idmarca ?'selected':'' %> > <%= element.marca %></option>
              <% }) %>
            </select>
            <label for="form-label">Marcas</label>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-floating">
            <input type="text" id="modelo" value="<%= vehiculo.modelo %>" name="modelo" class="form-control" placeholder="Modelo" required> 
            <label for="form-label">Modelo</label>
          </div>
        </div>
    </div>
    <div class="row g-2">
      <div class="col-md-4 mb-2">
        <div class="form-floating">
          <input type="text" id="color" name="color" value="<%= vehiculo.color %>" class="form-control" placeholder="Color" required>
          <label for="form-label">Color</label>
        </div>
      </div>
      <div class="col-md-4 mb-2" >
        <div class="form-floating">
          <select name="combustible" id="combustible" class="form-select" required>
            <option value="" >Seleccione</option>
            <option value="Diesel"<%= vehiculo.combustible =='Diesel' ? 'selected':'' %> >Diesel</option>
            <option value="Gasolina"<%= vehiculo.combustible =='Gasolina' ? 'selected':'' %> >Gasolina</option>
            <option value="GLP"<%= vehiculo.combustible =='GLP' ? 'selected':'' %> >GLP</option>
            <option value="GNV"<%= vehiculo.combustible =='GNV' ? 'selected':'' %> >GNV</option>
            <option value="Híbrido"<%= vehiculo.combustible =='Híbrido' ? 'selected':'' %> >Híbrido</option>
          </select>
          <label for="form-label">Combustible</label>
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <div class="form-floating">
          <input type="text" value="<%= vehiculo.afabricacion %>" minlength="4" maxlength="4" pattern="[0-9]+" id="afabricacion" name="afabricacion" class="form-control" placeholder="Año Fabricación" required>
          <label for="form-label">Año Fabricación</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-floating">
          <select name="condicion" id="condicion" class="form-select" placeholder="Condición" required>
            <option value="Nuevo" <%= vehiculo.condicion =='Nuevo' ? 'selected':'' %> >Nuevo</option>
            <option value="Seminuevo" <%= vehiculo.condicion =='Seminuevo' ? 'selected':'' %>>Semi Nuevo</option>
            </select>
            <label for="form-label">Condición</label>
  
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
  <button type="submit" class="btn btn-sm btn-primary">Actualizar</button>
  <a href="/" class="btn btn-sm btn-secondary">Cancelar</a>
  </div>
  </div>
  
  </form>
  <script>
    document.addEventListener("DOMContentLoaded",()=>{
      const formulario=document.querySelector('#formulario-registro')
  
      formulario.addEventListener("submit", (event)=>{
        event.preventDefault()
  
        Swal.fire({
          title:'Vehículos',
          text:'¿Está seguro de Actualizar?',
          icon:'question',
          footer:'SENATI ING. SOFTWARE',
          confirmButtonText:'Aceptar',
          confirmButtonColor:'#2980b9',
          showCancelButton:true,
          cancelButtonText:'cancelar'
        }).then((result)=>{
          if(result.isConfirmed){
            formulario.submit()
          }
        })
      })
    })
  </script>
  <%- include('./partials/footer') %>